[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/bluetiger20
[access "refs/for/refs/*"]
	read = group user/bluetiger20
	push = group user/bluetiger20
	label-Code-Review = -2..+2 group user/bluetiger20
	label-Verified = -1..+1 group user/bluetiger20
	rebase = group user/bluetiger20
	removeReviewer = group user/bluetiger20
	submit = group user/bluetiger20
[access "refs/heads/*"]
	read = group user/bluetiger20
	create = group user/bluetiger20
	push = +force group user/bluetiger20
	pushMerge = group user/bluetiger20
[access "refs/tags/*"]
	push = group user/bluetiger20
	push = +force group user/bluetiger20
